.principal {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 30px;
}

.conteudo2 {
  width: 100%;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 350px 350px 350px;
}

.rodape {
  width: 100%;
  height: 30px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodapetexto {
  color: #ffffff;
}