.principal {
    height: 100%;
    width: 100%;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-image: url("../../../web_assets/images/paisagem.jpg");
  }
  .conteudo {
    height: 700px;
    width: 100%;
    background-color: coral;
  }
  .rodape {
    height: 100px;
    width: 100%;
    background-color: seagreen;
  }